<%- include('partials/header') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>Deploy app v1.0</h1>
    <h2>First version of deploy app</h2>
    <h3>by: Jovany de Azevedo</h3>
</body>
<%- include('partials/footer') %>
