<%- include('partials/header') %>
    </head>
    <body>
        <%- include('partials/navigation') %>
        <div class="middle-1"></div>
        <ul class="cont">
        <li class="list"><a href="https://www.linkedin.com/in/jovany-de-azevedo-9a34991a3/">LinkedIn: Jovany de Azevedo</a></li>
        <li class="list"><a href="https://github.com/JovanyAldair">GitHub: Jovany Aldair</a></li>
        <li class="list"><a href="https://www.instagram.com/jeoazevedo31/">Instagram: Jovany Aldair</a></li>
    </ul>
    <div class="middle-2"></div>
    <%- include('partials/footer') %>