<%- include('partials/header') %>
    </head>
    <body>
        <%- include('partials/navigation') %>
        <div class="middle-1"></div>
        <ul class="cont">
            <li class="list"><h3>Social:</h3></li>
        <li class="list"><a href="mailto:azevedojovani90@gmail.com" target="_blank"> <img alt="Static Badge" src="https://img.shields.io/badge/gmail-EA4335?style=for-the-badge&logo=gmail&logoColor=white"></a></li>
        <li class="list"><a href="https://www.linkedin.com/in/jovany-de-azevedo-9a34991a3/" target="_blank"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"></a></li>
        <li class="list"><a href="https://github.com/JovanyAldair" target="_blank"><img alt="Static Badge" src="https://img.shields.io/badge/github-181717?style=for-the-badge&logo=github"></a></li>
        <li class="list"><a href="https://www.instagram.com/jeoazevedo31/" target="_blank"><img src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white"></a></li>
    </ul>
    <div class="middle-2"></div>
    <%- include('partials/footer') %>