<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Extern</a></li>
        </ul>
</header>
    <h1>Deploy app v1.0</h1>
    <h2>First version of deploy app</h2>
    <h3>by: Jovany de Azevedo</h3>
</body>
</html>